/* Start by defining grid-template-columns on the container */
body{
  margin:0;
  background-color:blueviolet;
}

section {
display: grid;
grid-template-columns: repeat(8 , 1fr);
grid-template-rows: repeat(8 , 1fr);
grid-auto-flow:column;

}

article:nth-child(even){
  background-color:black;
  color:black;
}

article:nth-child(odd){
  grid-column-start: -8;
  background-color:white;
  color:black;
}
article{
  aspect-ratio: 1;
  overflow-wrap: normal;
  color:transparent;
}
/*
article:nth-child(){
  aspect-ratio: 1;
  background-color:white;
  color:white;
}

/*I tried tony , I really tried*/ 